{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~components": "./src/components/",
          "~libs": "./src/libs/",
          "~pages": "./src/pages/",
          "~stores": "./src/stores/",
          "~styles": "./src/styles/",
          "~test": "./src/test/",
          "~public": "./public/",
          "~static": "./public/static/"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false,
        "fileName": false
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "env": {
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]],
      "plugins": ["dynamic-import-node"]
    }
  }
}
