{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "~": "./"
      }
    }],
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false, "fileName": false  }]
  ],
  "env": {
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}
